//
// Color system - LUX
//

$white:    #fff !default;
$gray-100: #f8f9fa !default;
$gray-200: #f7f7f9 !default;
$gray-300: #eceeef !default;
$gray-400: #ced4da !default;
$gray-500: #adb5bd !default;
$gray-600: #919aa1 !default;
$gray-700: #55595c !default;
$gray-800: #343a40 !default;
$gray-900: #1a1a1a !default;
$black:    #000 !default;

$blue:    #007bff !default;
$indigo:  #6610f2 !default;
$purple:  #6f42c1 !default;
$pink:    #e83e8c !default;
$red:     #d9534f !default;
$orange:  #fd7e14 !default;
$yellow:  #f0ad4e !default;
$green:   #4bbf73 !default;
$teal:    #20c997 !default;
$cyan:    #1f9bcf !default;

// Natalie Color Theme

$eggshell: #F7F1DE !default;
$richblack: #001219 !default;
$midnightgreen: #005f73 !default;
$darkcyan: #0a9396 !default;
$tiffanyblue: #94d2bd !default;
$vanilla: #e9d8a6 !default;
$gamboge: #ee9b00 !default;
$alloyorange: #ca6702 !default;
$rust: #bb3e03 !default;
$rufous: #ae2012 !default;
$auburn: #9b2226 !default;

// Gris

$main1: #006399 !default;
$light1: #B8D5E6 !default;
$lightest1: #DAE1E6 !default;
$bright1: #0095E6 !default;
$dark1: #003A59 !default;
$darkest1: #001926 !default;

$main2: #008F99 !default;
$light2: #B8D5E6 !default;
$lightest2: #DAE5E6 !default;
$bright2: #00D6E6 !default;
$dark2: #00474D !default;
$darkest2: #002426 !default;


$main3: #009978 !default;
$light3: #B8E6DC !default;
$lightest3: #DAE6E3 !default;
$bright3: #00E6B4 !default;
$dark3: #005946 !default;
$darkest3: #00261E !default;

$main4: #992600 !default;
$light4: #E6C3B8 !default;
$lightest4: #E6DDDA !default;
$bright4: #E63900 !default;
$dark4: #591600 !default;
$darkest4: #260A00 !default;

$main5: #994000 !default;
$light5: #E6CBB8 !default;
$lightest5: #E6DFDA !default;
$bright5: #E66000 !default;
$dark5: #592500 !default;
$darkest5: #261000 !default;

$main6: #995700 !default;
$light6: #E6D2B8 !default;
$lightest6: #E6E1DA !default;
$bright6: #E68302 !default;
$dark6: #593301 !default;
$darkest6: #261600 !default;


$primary:       $gray-900 !default;
$secondary:     $white !default;
$success:       $green !default;
$info:          $cyan !default;
$warning:       $yellow !default;
$danger:        $red !default;
$light:         $white !default;
$dark:          $gray-800 !default;

$link-color: $primary !default;

$link-color: if(
  $link-color == $blue,
  theme-override-value($theme-name, "link-color", $link-color),
  $link-color
);
